@model IEnumerable<Employee>

@{
    ViewData["Title"] = "List";

}

<style>
    img {
        height: 100px;
        width: 150px;
    }
</style>
<div class="card-deck">
    @foreach (var emp in Model)
    {
        var photoPath = "~/images/" + (emp.PhotoPath ?? "no_image.jpeg");
        <div class="card m-3" style="min-width:36rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@emp.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-action="details" asp-controller="employee" asp-route-id="@emp.Id" class="btn btn-primary">View</a>
                <a asp-action="edit" asp-controller="employee" asp-route-id="@emp.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }
</div>