@{ 
    ViewData["Title"] = "Not Found";
    //Layout = null; 
}
<h1>@ViewBag.ErrorMessage</h1>

@*<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QS</h1>*@

<a asp-action="index" asp-controller="employee" class="btn btn-primary">
    Click here to navigate to the employe page
</a>